# This is Git's per-user configuration file.
[user]
	name = Michael Bino
	email = mabino@gmail.com
[core]
	hooksPath = ~/.config/git/hooks
	excludesFile = ~/.gitignore_global
[init]
	defaultBranch = main
[pull]
	rebase = true
	autostash = true
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
	autoupdate = true
[diff]
	algorithm = histogram
[merge]
	conflictstyle = zdiff3
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
