# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Michael Bino
	email = mabino@gmail.com
[core]
	hooksPath = ~/.config/git/hooks
[credential "https://github.com"]
	helper = 
	helper = !/Users/mabino/.homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/Users/mabino/.homebrew/bin/gh auth git-credential
